<!-- --if else-- -->

<!-- @if (isLogin) {
  <h1>Welcome to the Dashboard</h1>
} @else {
  <h1>Please Login</h1>
} -->
<!-- --- -->

<!-- <button (click)="switchButton()" class="px-4 py-2 bg-blue-600 text-white font-medium rounded-md"> -->
  <!-- Press
</button>
@if (showButton) {
  <h1>ON</h1>
} @else {
  <h1>OFF</h1>
} -->

<!-- --if-else-if-else-- -->

<input (input)="checkAge($event.target.value)" class="border"/>

@if (age >= 60) {
  <h1>Senior Citizen</h1>
} @else if (age >= 18) {
  <h1>Adult Citizen</h1>
}
 @else if (age >= 12) {
  <h1>MInor Citizen</h1>
}@else{
    <h1>Invalid User</h1>
}
